<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Media</h4>
</div>
<div class="modal-body">
    <form [formGroup]="mediaChooser" #mediaChooserForm>
        <div class="flexbin">
            <figure *ngFor=" let f of files.data" class="image-select">
                <input type="radio" [id]=" f.id" name="selectedMedia" [value]="f.id" formControlName="selectedMedia" />

                <label class="wrapper" [for]="  f.id">
                    <span class="overlay"></span>
                    <img [src]="f.path" />
                </label>

            </figure>
        </div>
        <div class="d-flex justify-content-end py-2">
            <app-pagination [source]="files" (pageChange)="pageChanges($event)"></app-pagination>
        </div>
        <div>
            <input type="file" class="form-control" formControlName="filesFormControl" accept="image/*">
        </div>
    </form>
</div>
<div class="modal-footer d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-outline-dark" (click)="modelRef.close(null)">Close</button>
    <button type="button" class="btn btn-primary" (click)="submit()">Save</button>
</div>