<div>
    <nav class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
      <div class="container">
        <a class="navbar-toggler" role="button" type="button" (click)="open(content)" aria-controls="side-menu">
          <i class="bi bi-list"></i>
        </a>
        <a class="navbar-brand" href="#">
            <img [src]="''" alt="" height="50">
          </a>
        <div>
          <user-controls-menu></user-controls-menu>
        </div>
  
      </div>
    </nav>
    <div class="app-wrapper flex-column flex-row-fluid">
      <div class="offcanvas-expand side-bar" style="min-width: 21.875rem;">
        <ng-template *ngTemplateOutlet="menuTemplate ; context:{ offcanvas: null }"></ng-template>
      </div>
      <main class="offcanvas-enabled flex-column flex-row-fluid">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  
  <ng-template #content let-offcanvas>
    <ng-template *ngTemplateOutlet="menuTemplate; context:{ offcanvas: offcanvas } "></ng-template>
  </ng-template>
  
  <ng-template #menuTemplate let-offcanvas="offcanvas">
    <div class="offcanvas-body">
        <menus [menus]="menus" [offcanvas]="offcanvas"></menus>
    </div>
  </ng-template>