<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Media</h4>
</div>
<div class="modal-body">
  <image-cropper #imgcrop [imageBase64]="config.base64" [maintainAspectRatio]="true" [aspectRatio]="config.ratio"
    format="png" [autoCrop]="false" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
  </image-cropper>
</div>
<div class="modal-footer d-flex justify-content-end gap-2">
  <button type="button" class="btn btn-outline-dark" (click)="modelRef.close(null)">Close</button>
  <button type="button" class="btn btn-primary" (click)="finishedCropImage()">Save</button>
</div>