<div>
  <nav class="navbar navbar-expand-lg blur shadow-sm sticky-top">
    <div class="container">
      <a class="navbar-toggler" role="button" type="button" (click)="open(content)" aria-controls="side-menu">
        <i class="bi bi-list"></i>
      </a>
      <a class="navbar-brand" href="#">
  
      </a>
      <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/brand-register'">BrandRegister</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/admin/product-attributes'">ProductAttributes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/seller-central'">seller</a>
          </li>
        </ul>
      </div>-->
      <div> 
        <user-controls-menu></user-controls-menu>
      </div>
  
    </div>
  </nav>
  <div class="app-wrapper flex-column flex-row-fluid">
    <aside class="offcanvas-expand side-bar" style="min-width: 21.875rem;">
      <ng-template *ngTemplateOutlet="menuTemplate ; context:{ offcanvas: null }"></ng-template>
    </aside>
    <main class="offcanvas-enabled flex-column flex-row-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<ng-template #content let-offcanvas>
  <ng-template *ngTemplateOutlet="menuTemplate; context:{ offcanvas: offcanvas } "></ng-template>
</ng-template>

<ng-template #menuTemplate let-offcanvas="offcanvas">
  <div class="offcanvas-body">
      <menus [menus]="menus" [offcanvas]="offcanvas"></menus>
  </div>
</ng-template>