<form [formGroup]="authenForm" (ngSubmit)="submitChangePassword()">
    <div class="card">
        <div class="card-header d-flex">
            <div class="card-title">Change Password</div>

        </div>
        <div class="card-body ">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-lg-end text-sm-start">New Password</label>
                <div class="col-sm-8">
                    <div class="d-flex position-relative">
                        <input type="password" passwordShowHide class="form-control" autocomplete="on"
                            placeholder="New Password" formControlName="newPassword">

                    </div>

                    <password-strength-meter [password]="authenForm.get('newPassword')?.value">
                    </password-strength-meter>
                    <small class="text-muted">Your password must be 8-20 characters long, contain
                        letters and numbers, and must
                        not contain spaces, special characters, or emoji.</small>

                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-lg-end text-sm-start">Confirm Password</label>
                <div class="col-sm-8">
                    <div class="d-flex position-relative">
                        <input type="password" class="form-control" placeholder="Confirm Password"
                            autocomplete="on" formControlName="confirmPassword" passwordShowHide>
                    </div>
                    <div *ngIf="authenForm.dirty" class="py-1">
                        <div [ngSwitch]="matchPassword">
                            <small class="text-warning" *ngSwitchCase="false">Passwords are not
                                match!</small>
                            <small class="text-success" *ngSwitchCase="true">Passwords are match!</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-footer" *ngIf="authenForm.dirty && authenForm.valid">
            <div class="d-flex justify-content-end gap-2">
                <input type="submit" value="Submit" class="btn btn-primary" [disabled]="!matchPassword">
            </div>
        </div>
    </div>

</form>