<div class="container pb-3">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">

        <li [ngbNavItem]="1">
            <ng-template ngbNavContent>
                <ng-container *ngTemplateOutlet="heading; context:{ submitBtn: false }">
                </ng-container>
                <div class="card">

                    <div class="card-header">
                        <div class="card-title">Select a product category</div>
                        <small>Choosing the best category ensure that you see the most appropriate data field for
                            your product.
                        </small>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="categoryForm" id="browse-category">
                            <label for="category-name" class="form-label">Browse </label>
                            <input type="text" class="form-control " list="datalistOptions" id="category-name"
                                placeholder="Search category" formControlName="search">


                            <div class="overflow-auto">

                                <ul class="list-group list-group-flush py-3" id="category-query-data">
                                    <li class="list-group-item list-group-item-action" role="button" type="button"
                                        *ngFor="let c of categoryForm.get('searchResultList')?.value"
                                        (click)="selectCategory(c)">
                                        <p><strong class="text-primary">{{c.title}}</strong></p>
                                        <!-- <small class="text-muted">{{c.path}}</small> -->
                                        <nav aria-label="breadcrumb" class="small">
                                            <ol class="breadcrumb mb-0">
                                                <ng-container
                                                    *ngFor="let c of c.full_path | categoryBreadcrumb;let isLast = last">
                                                    <li class="breadcrumb-item {{isLast ? 'active':''}}">
                                                        {{c}}
                                                    </li>
                                                </ng-container>
                                            </ol>
                                        </nav>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <ng-template ngbNavContent>

                <form [formGroup]="productForm" (ngSubmit)="submit()">
                    <ng-container *ngTemplateOutlet="heading; context:{ submitBtn: true}">
                    </ng-container>

                    <div class="row g-2">
                        <div class="col-lg-4 ">
                            <!-- <div id="messageBox">
                                <p class="mb-2" *ngFor="let alert of productAlerts | async | keyvalue">
                                    <ngb-alert [dismissible]="false" class="mb-0" [type]="alert.value.type">{{
                                        alert.value.message }}</ngb-alert>
                                </p>
                            </div> -->
                            <ng-container *ngTemplateOutlet="vitalInfo; context: { formGroup: productForm}">
                            </ng-container>
                            <ng-container *ngTemplateOutlet="productStatus; context: { formGroup: productForm}">
                            </ng-container>
                        </div>
                        <div class="col-lg-8">
                            <!-- Product Information -->

                            <div *ngIf="!productForm.controls['hasVariant'].value" formArrayName="variants">
                                <div *ngFor="let variant of getVariants.controls; let i = index">
                                    <!-- Media  -->
                                    <ng-container *ngTemplateOutlet="medias; context: { formGroup: variant, index : i}">
                                    </ng-container>
                                    <!-- Pricing -->
                                    <ng-container *ngTemplateOutlet="pricing; context:{ formGroup: variant, index : i}">
                                    </ng-container>
                                    <!-- Inventory  -->
                                    <ng-container
                                        *ngTemplateOutlet="inventory; context: { formGroup: variant, index : i}">
                                    </ng-container>
                                    <!-- Description  -->
                                    <ng-container
                                        *ngTemplateOutlet="description; context: { formGroup: variant, index : i}">
                                    </ng-container>
                                    <!-- Shipping -->
                                    <!-- <ng-container
                                        *ngTemplateOutlet="shipping; context: { formGroup: variant, index : i}">
                                    </ng-container> -->
                                    <!-- Attributes  -->
                                    <ng-container
                                        *ngTemplateOutlet="attributeCard; context: { formGroup: variant, index : i}">
                                    </ng-container>

                                </div>
                            </div>
                            <div class="variations-group">
                                <ng-container *ngTemplateOutlet="variants; context:{ formGroup: productForm }">
                                </ng-container>
                            </div>

                        </div>

                    </div>
                </form>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <ng-template ngbNavContent>
                <form [formGroup]="productForm" (ngSubmit)="onSubmitByVariant()">
                    <ng-container *ngTemplateOutlet="heading; context:{ submitBtn: true }">
                    </ng-container>
                    <div class="row g-2">
                        <div class="col-lg-4 ">
                            <ng-container *ngTemplateOutlet="variantInfo; context: { formGroup: productForm}">
                            </ng-container>
                            <ng-container *ngTemplateOutlet="productStatus; context: { formGroup: productForm}">
                            </ng-container>
                        </div>
                        <div class="col-lg-8">
                            <div *ngFor="let variant of getVariants.controls; let i = index">
                                <ng-container *ngTemplateOutlet="medias; context: { formGroup: variant, index : i}">
                                </ng-container>
                                <!-- Pricing -->
                                <ng-container *ngTemplateOutlet="pricing; context:{ formGroup: variant, index : i}">
                                </ng-container>
                                <!-- Inventory  -->
                                <ng-container *ngTemplateOutlet="inventory; context: { formGroup: variant, index : i}">
                                </ng-container>
                                <!-- Description  -->
                                <ng-container
                                    *ngTemplateOutlet="description; context: { formGroup: variant, index : i}">
                                </ng-container>
                                <!-- Attributes  -->
                                <ng-container
                                    *ngTemplateOutlet="attributeCard; context: { formGroup: variant, index : i}">
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

</div>

<ng-template #heading let-submitBtn="submitBtn">
    <div class="forehead">
        <div class="d-flex justify-content-between align-items-center">
            <div class=" flex-grow-1">
                <h5 class="m-0">Product Setup</h5>
            </div>
            <div class="d-flex gap-2 no-wrap">
                <button type="button" backButton name="Products" icon="bi bi-chevron-left"
                    [routerLink]="'/seller-central/inventory'"></button>
                <input type="submit" *ngIf="submitBtn" class="btn text-primary" value="Submit">
            </div>
        </div>
        <nav aria-label="breadcrumb" class="breadcrumb-nav small">
            <ol class="breadcrumb mb-0">
                <ng-container *ngFor="let c of categoryBreadcrumb | categoryBreadcrumb;let isLast = last">
                    <li class="breadcrumb-item {{isLast ? 'active':''}}">
                        {{c}}
                    </li>
                </ng-container>
            </ol>
        </nav>
    </div>
</ng-template>
<ng-template #vitalInfo let-formGroup="formGroup">
    <div class="card mb-2" [formGroup]="formGroup">
        <div class="card-header">
            <div class="card-title">
                <span class="position-relative">
                    Vital Information
                </span>

            </div>
        </div>
        <div class="card-body">
            <div class="mb-2">
                <label for="product-name" class="form-label">Title</label>
                <input type="text" aria-label="First name" id="product-name" formControlName="title"
                    placeholder="Product Title" class="form-control form-validation">
            </div>


            <div class="mb-2">
                <label for="brand-name" class="form-label">Brand</label>
                <input type="text" class="form-control form-validation" aria-label="First name" id="brand-name"
                    formControlName="brand" placeholder="Brand Name">
            </div>

            <div class="mb-2">
                <label for="manufacturer" class="form-label">Manufacturer</label>
                <input type="text" class="form-control form-validation" aria-label="First name" id="manufacturer"
                    formControlName="manufacturer" placeholder="Manufactured from">
            </div>

            <div class="mb-2">
                <label for="material-type" class="form-label">Material
                    Type</label>
                <select formControlName="packType" class="form-select form-validation" [compareWith]="compare">
                    <option [value]='null' disabled>Select</option>
                    <option [ngValue]="matype" *ngFor=" let matype of packTypeList">
                        {{matype.title}}
                    </option>
                </select>
            </div>


        </div>
    </div>
</ng-template>
<ng-template #productStatus let-formGroup="formGroup">
    <ng-container [formGroup]="formGroup">
        <div class="card mb-2">
            <div class="card-header">
                <div class="card-title">Product Status</div>
            </div>
            <div class="card-body">
                <div class="form-check" *ngFor="let bizStatus of businessStatus;let i=index">
                    <input class="form-check-input" type="radio" name="status" [id]="'biz-status-'+i"
                        formControlName="status" [value]=" bizStatus.value ">
                    <label class="form-check-label" [for]="'biz-status-'+i">
                        {{ bizStatus.title }}
                    </label>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <div class="card-title">Payment</div>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <label class="form-label ">Sell with</label>
                    <div class="form-control bg-transparent mb-1">
                        {{formGroup.get('currency')?.value?.currency_code }}
                        ({{formGroup.get('currency')?.value?.country_name}})
                    </div>
                    <span class="d-block text-end">
                        <a routerLink="/seller-central/settings/store" class="small">Change store currency</a>
                    </span>
                </div>
                <!-- <div class="mb-2">
                    <label for="purchasedCurrency" class="form-label ">Purchased with</label>
                    <select class="form-select" id="purchasedCurrency" formControlName="purchasedCurrency">
                        <option [value]="null" disabled selected>Select</option>
                        <option [ngValue]="currency" *ngFor="let currency of currencyByRegions;">
                            {{ currency.currency_code }}<br>
                        </option>
                    </select>
                </div> -->
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="card-title">Tag</div>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" placeholder="shirt, red">
            </div>
        </div>
    </ng-container>

</ng-template>
<ng-template #pricing let-formGroup="formGroup" let-index="index">
    <div class="card mb-2" [formGroup]="formGroup">
        <div class="card-header">
            <div class="card-title">Pricing</div>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerSellingPrice" class="w-100 col-form-label  text-lg-end text-sm-start">
                        Price</label>
                </div>
                <div class="col-sm-8">

                    <input type="text" class="form-control" id="offerSellingPrice" formControlName="sellingPrice"
                        [prefix]="sellCurrency?.currency_code + ' '" [mask]="maskConfig.maxnumber_count">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerCompareAtPrice" class="w-100 col-form-label  text-lg-end text-sm-start">
                        Compare at price</label>
                </div>
                <div class="col-sm-8">

                    <input type="text" class="form-control" id="offerCompareAtPrice" formControlName="comparedPrice"
                        [prefix]="sellCurrency?.currency_code + ' '" [mask]="maskConfig.maxnumber_count">

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-8 align-self-center">
                    <div class="form-check m-0">
                        <input class="form-check-input" type="checkbox" id="charge-tax">
                        <label class="form-check-label" for="charge-tax">
                            Charge tax
                        </label>
                    </div>
                </div>

            </div>


            <!-- <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerMargin" class="w-100 col-form-label  text-lg-end text-sm-start">Margin</label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <span>{{marginPercentage | percent:'1.2-2'}}</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerProfit" class="w-100 col-form-label  text-lg-end text-sm-start">Profit</label>
                </div>
                <div class="col-sm-8  d-flex align-items-center">
                    <span>
                        {{profit|currency:'Ks':'symbol':'1.2-2':'en-US'}}
                    </span>
                </div>
            </div> -->
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerCostPerItem" class="w-100 col-form-label  text-lg-end text-sm-start">
                        Cost per item</label>
                </div>
                <div class="col-sm-8">

                    <input type="text" class="form-control" id="offerCostPerItem" formControlName="price"
                        [prefix]="sellCurrency?.currency_code + ' '" [mask]="maskConfig.maxnumber_count">
                    <small class="text-muted">Customer won't see it.</small>
                </div>
            </div>
        </div>

    </div>
</ng-template>
<ng-template #inventory let-formGroup="formGroup" let-index="index">
    <div class="card mb-2" [formGroup]="formGroup">
        <div class="card-header">
            <div class="card-title">Inventory
            </div>
        </div>
        <div class="card-body ">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerSku" class="w-100 col-form-label text-lg-end text-sm-start">SKU
                    </label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="offerSku" placeholder="Stock Keeping Unit"
                        [mask]="maskConfig.brand_sku_count" formControlName="sellerSku">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerBarcode" class="w-100 col-form-label  text-lg-end text-sm-start">Barcode
                    </label>
                </div>

                <div class="col-sm-8">
                    <input type="text" class="form-control" id="offerBarcode" formControlName="barcode"
                        placeholder="ISBN, UPC, GTIN, etc.">
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerDateRange" class="w-100 col-form-label  text-lg-end text-sm-start">Date
                        range</label>
                </div>

                <div class="col-sm-8">
                    <div class="input-group rounded border input-group-date-range">
                        <input type="text" datePicker class="form-control border-0" formControlName="dateRange">
                        <div class="px-2 align-self-center">
                            <i class="bi bi-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="offerCondition"
                        class="w-100 col-form-label  text-lg-end text-sm-start">Condition</label>
                </div>

                <div class="col-sm-8">
                    <select class="form-select" formControlName="condition" id="offerCondition" [compareWith]="compare">
                        <option value='' disabled>Select</option>
                        <option *ngFor="let con of conditionOptions" [ngValue]="con">
                            {{con.title}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="track-qty"
                            formControlName="trackQuantity">
                        <label class="form-check-label" for="track-qty">
                            Track quantity
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="sell-outofstock"
                            formControlName="keepSellingOutofstock">
                        <label class="form-check-label" for="sell-outofstock">
                            Continue selling when out of stock
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="formGroup.get('trackQuantity')?.value">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="offerQty" class="w-100 col-form-label  text-lg-end text-sm-start">
                            Locations
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <table class="table table-sm align-middle table-borderless" formArrayName="locations">
                            <thead>
                                <tr>
                                    <td class="text-muted " style="width: 60%;">Name</td>
                                    <td class="text-muted ">Quantity</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let location of $any(formGroup.get('locations')).controls;let i=index"
                                    [formGroupName]="i">
                                    <td [ngClass]="{ 'text-primary': location.get('isDefault')?.value }">
                                        {{location.get('locationTitle')?.value}}</td>
                                    <td>
                                        <div *ngIf="paramProductId then locQtyForExisting else locQtyForNew"></div>
                                        <ng-template #locQtyForNew>
                                            <input type="text" class="form-control" formControlName="quantity"
                                                [mask]="maskConfig.maxnumber_count">
                                        </ng-template>
                                        <ng-template #locQtyForExisting>
                                            <div ngbDropdown>
                                                <button type="button" class="btn btn-light w-100 text-end"
                                                    [id]="'qty-change-dropdown-'+i" ngbDropdownToggle>
                                                    {{location.get('quantity')?.value}}
                                                </button>
                                                <div ngbDropdownMenu [attr.aria-labelledby]="'qty-change-dropdown-'+i"
                                                    class="p-3 qtychange-dropdownmenu">
                                                    <div class="row mb-2">
                                                        <div class="col">
                                                            <label for="adjustby" class="form-label">Adjust by</label>
                                                            <input type="text" id="adjustby" class="form-control"
                                                                formControlName="adjustBy">
                                                        </div>
                                                        <div class="col">
                                                            <label for="quantity" class="form-label">New</label>
                                                            <input type="text" id="quantity" class="form-control"
                                                                formControlName="quantity">
                                                        </div>
                                                    </div>
                                                    <div class="mb-2" *ngIf="location.get('quantity')?.value !== location.get('originQuantity')?.value">
                                                        <span class="small">(Orignial quantity: {{location.get('originQuantity')?.value}})</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="reason" class="form-label">Reason</label>
                                                        <select name="reason" id="reason" class="form-select">
                                                            <option value="correction">Correction (default)</option>
                                                            <option value="cycle_count_available">Count</option>
                                                            <option value="received">Received</option>
                                                            <option value="restock">Return restock</option>
                                                            <option value="damaged">Damaged</option>
                                                            <option value="shrinkage">Theft or loss</option>
                                                            <option value="promotion">Promotion or donation</option>
                                                        </select>
                                                    </div>
                                                    <div class="d-flex justify-content-end">
                                                        <button type="button" class="btn btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</ng-template>
<ng-template #shipping let-formGroup="formGroup" let-index="index">
    <div class="card mb-2" [formGroup]="formGroup">
        <div class="card-header">
            <div class="card-title">Shipping
            </div>
        </div>
        <div class="card-body">


        </div>
    </div>
</ng-template>
<ng-template #attributeCard let-formGroup="formGroup" let-index="index">
    <div class="card mb-2" [formGroup]="formGroup">
        <div class="card-header">
            <div class="card-title">Attributes</div>
        </div>
        <div class="card-body" formArrayName="attributes">
            <div class="row mb-2" [formGroupName]="i"
                *ngFor="let data of $any(formGroup).controls['attributes'].controls;let i = index">
                <div class="col-sm-4">
                    <label [for]=" 'attributes-'+i " class="w-100 col-form-label  text-lg-end text-sm-start">
                        {{data.get('optionHeader')?.value.title}}
                    </label>
                </div>
                <div class="col-sm-8">
                    <div class="input-group flex-wrap gap-2">
                        <input type="text" class="form-control flex-fill" formControlName="value"
                            [id]=" 'attributes-'+i " *ngIf="data.get('allowDetailCustomName')?.value">
                        <typeahead-options *ngIf="data.get('needDetailMapping')?.value" [optionFormGroup]="data"
                            [optionFormControlName]="'optionDetail'" [formatter]="formatter" [editable]='false'
                            [source]="{
                                url: 'options/headers/'+data.get('optionHeader')?.value.id+'/details'
                            }" [placeholder]="'Search in '+data.get('optionHeader')?.value.title">
                        </typeahead-options>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>
<ng-template #medias let-formGroup="formGroup" let-index="index" let-collapsed="collapsed">
    <div class="card mb-2" [formGroup]="formGroup">
        <div class="card-header">
            <div class="card-title">Product Images</div>
        </div>
        <div class="card-body">
            <div class="media-grid">
                <div class="media" *ngFor="let media of mediaFormControlNames">
                    <media-chooser [src]="formGroup.get(media.formControlName)?.value" [title]="media.title"
                        [config]="mediaConfig" (output)="formGroup.controls[media.formControlName].setValue($event)">
                    </media-chooser>
                </div>

            </div>
        </div>
    </div>
</ng-template>
<ng-template #description let-formGroup="formGroup" let-index="index">
    <div class="card mb-2" [formGroup]="formGroup">
        <div class="card-header">
            <div class="card-title">Descriptions</div>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-4 ">
                    <label for="product-features" class="w-100 col-form-label  text-lg-end text-sm-start">
                        Features

                    </label>
                </div>
                <div class="col-sm-8">
                    <ul class="list-unstyled" formArrayName="features">
                        <li class="mb-2"
                            *ngFor="let feature of formGroup.get('features').controls; let featureIndex = index">
                            <input type="text" class="form-control key-features"
                                (keyup)="addFeatures(featureIndex,$event,formGroup)" [formControlName]="featureIndex">
                        </li>
                        <li>
                            <a class="small" role="button" (click)="removeLastFeatures(formGroup)">Remove last</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="product-description" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Pending need to save" class="w-100 col-form-label  text-lg-end text-sm-start">
                        Description

                    </label>
                </div>

                <div class="col-sm-8">
                    <div class="">
                        <quill-editor formControlName="description"></quill-editor>
                    </div>

                </div>

            </div>
        </div>
    </div>
</ng-template>
<ng-template #variants let-formGroup="formGroup" let-index="index">
    <div class="card" [formGroup]="formGroup">
        <div class="card-header">
            <div class="card-title">
                Variants
            </div>
            <div class="py-2" *ngIf="checkedVariantCard">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="has-variants" formControlName="hasVariant">
                    <label class="form-check-label small" for="has-variants">
                        This product has options, like size or color
                    </label>
                </div>
            </div>
        </div>
        <div class="card-body" *ngIf="productForm.controls['hasVariant'].value">
            <div class="variant-options">
                <ng-container *ngFor="let option of options; let optionIndex=index">
                    <div class="row mb-2" [formGroup]="option">
                        <div class="col-sm-4">
                            <div class="d-flex flex-nowrap gap-2 align-items-center mb-2">
                                <button type="button" class="btn btn-trash" [disabled]="!option.get('header')?.value"
                                    (click)="removeVariantOptionHeader(optionIndex)">

                                </button>
                                <div class="auto-complete">
                                    <typeahead-options [optionFormGroup]="option" [optionFormControlName]="'header'"
                                        [formatter]="formatter" [editable]='false'
                                        [source]="optionHeaderTypeaheadConfig" [placeholder]="'Search...'"
                                        (selectItem)="onSelectVariantOptionHeader(option,optionIndex)">
                                    </typeahead-options>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <ul class="list-unstyled vari-options-list">

                                <ng-container *ngIf="option.get('header')?.value; else optionInputGroupNone"
                                    formArrayName="list">
                                    <li class="mb-2"
                                        *ngFor="let feature of option.get('list')?.controls; let i = index; let isLast=last; let isFirst = first">
                                        <div class="d-flex flex-nowrap gap-2 align-items-center" [formGroupName]="i">
                                            <input type="text" class="form-control" formControlName="name"
                                                (keyup)="onChangeOptionItem(optionIndex,i,feature,$event)" />
                                            <ng-container *ngIf="!(isFirst && option.get('list')?.controls.length==2) ">
                                                <button type="button" class="btn btn-trash" tabindex="-1"
                                                    (click)="removeVariantOption(optionIndex,i)"
                                                    *ngIf="feature.get('name')?.value !=='' && !isLast ">
                                                </button>
                                            </ng-container>

                                        </div>
                                        <ngb-alert type="success" *ngIf="feature.get('error')?.value.isError">
                                            {{ feature.get('error')?.value.message }}
                                        </ngb-alert>
                                    </li>
                                </ng-container>
                                <ng-template #optionInputGroupNone>
                                    Select option.
                                </ng-template>

                            </ul>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="table-variants">

                <div class="mb-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn" (click)="selectVariants(true)"
                            ngbTooltip="select all variants">
                            Select all
                        </button>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="responsive-table mb-2">
                        <!-- Header -->
                        <thead>
                            <tr class="table-row">
                                <th class="table-cell column-heading sticky-cell-start">
                                    <span class="btn-toggle " (click)="filterFormCollapsed.toggle()"
                                        *ngIf="getVariants.length !== 0" [attr.aria-expanded]="!isFilterFormCollapsed">
                                    </span>
                                    <span *ngFor="let option of options">
                                        <ng-container *ngIf="option.get('header')?.value">
                                            {{option.get('header.title')?.value}}
                                        </ng-container>
                                    </span>
                                </th>

                                <ng-container *ngFor="let option of options">
                                    <ng-container *ngIf="option.get('header')?.value">
                                        <th class="table-cell column-heading">
                                            <span class="ms-1">{{option.get('header')?.value?.title}} Map</span>
                                        </th>
                                    </ng-container>
                                </ng-container>

                                <th class="table-cell column-heading">
                                    Seller SKU
                                </th>
                                <th class="table-cell column-heading">
                                    Your price
                                </th>
                                <th class="table-cell column-heading">
                                    Selling price
                                </th>
                                <th class="table-cell column-heading">
                                    Qty
                                </th>
                                <th class="table-cell column-heading">
                                    Condition
                                </th>
                                <th class="table-cell column-heading">
                                    Date range
                                </th>
                                <th class="table-cell column-heading sticky-cell-end"></th>
                            </tr>
                        </thead>
                        <!-- Filter -->
                        <thead [formGroup]="filterControlForm" id="defaultHeaderCollapse"
                            #filterFormCollapsed="ngbCollapse" [(ngbCollapse)]="isFilterFormCollapsed">
                            <tr class="table-row">
                                <th class="table-cell sticky-cell-start">
                                    <div class="table-cell-content"></div>
                                </th>
                                <th class="table-cell">
                                    <div class="table-cell-content"></div>
                                </th>
                                <ng-container *ngIf="options[1].get('header')?.value">
                                    <th class="table-cell">
                                        <div class="table-cell-content"></div>
                                    </th>
                                </ng-container>
                                <ng-container *ngIf="options[2].get('header')?.value">
                                    <th class="table-cell">
                                        <div class="table-cell-content"></div>
                                    </th>
                                </ng-container>

                                <td class="table-cell">
                                    <div class="table-cell-content">
                                        <div class="input-group">
                                            <select class="form-select form-select input-number"
                                                [compareWith]="compareRandomSelect" aria-label="Default select example"
                                                formControlName="randomIdLength">
                                                <option selected [value]="len"
                                                    *ngFor="let len of filterControlForm.get('randomIdOptions')?.value">
                                                    {{len}}
                                                </option>

                                            </select>

                                            <button type="button" class="btn btn-outline-secondary"
                                                (click)="generateRandomSKUS()">
                                                <i class="bi bi-check2"></i>
                                            </button>

                                        </div>

                                    </div>


                                </td>
                                <td class="table-cell">
                                    <div class="table-cell-content">
                                        <div class="input-group">
                                            <input type="number" class="form-control input-number"
                                                formControlName='price'>

                                            <button type="button" class="btn btn-outline-secondary"
                                                (click)="replaceAllPrice('price')">
                                                <i class="bi bi-check2"></i></button>
                                        </div>

                                    </div>


                                </td>
                                <td class="table-cell">
                                    <div class="table-cell-content">
                                        <div class="input-group">
                                            <input type="number" class="form-control input-number"
                                                formControlName='sellingPrice'>
                                            <button type="button" class="btn btn-outline-secondary"
                                                (click)="replaceAllPrice('sellingPrice')">
                                                <i class="bi bi-check2"></i>
                                            </button>
                                        </div>
                                    </div>



                                </td>
                                <td class="table-cell">
                                    <div class="table-cell-content">
                                        <div class="input-group">
                                            <input type="number" class="form-control input-number"
                                                formControlName="quantity">
                                            <button type="button" class="btn btn-outline-secondary"
                                                (click)="replaceAllPrice('quantity')">
                                                <i class="bi bi-check2"></i>
                                            </button>
                                        </div>
                                    </div>

                                </td>
                                <td class="table-cell">
                                    <div class="table-cell-content">
                                        <div class="input-group">
                                            <select class="form-select input-number" formControlName="condition">
                                                <option value=''>-Select-</option>
                                                <option *ngFor="let con of conditionOptions" [ngValue]="con">
                                                    {{con.title}}
                                                </option>
                                            </select>
                                            <button type="button" class="btn btn-outline-secondary"
                                                (click)="replaceAllCondition()">
                                                <i class="bi bi-check2"></i>
                                            </button>
                                        </div>
                                    </div>


                                </td>
                                <td class="table-cell">
                                    <div class="table-cell-content">
                                        <div class="input-group rounded border input-group-date-range">
                                            <div class="p-2">
                                                <i class="bi bi-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control border-0 input-number" datePicker
                                                formControlName="dateRange">

                                        </div>
                                    </div>

                                </td>
                                <td class="table-cell sticky-cell-end">
                                    <div class="table-cell-content"></div>
                                </td>
                            </tr>
                        </thead>
                        <!-- Variants  -->
                        <ng-container formArrayName="variants">
                            <ng-container *ngFor="let prod of getVariants.controls;let i = index">
                                <!-- new variant -->
                                <ng-container [formGroupName]="i">
                                    <tr class="table-row" lineThrough [status]="prod.get('status')?.value">
                                        <td class="table-cell sticky-cell-start">
                                            <div class="table-cell-content d-flex align-items-center"
                                                *ngIf="!prod.get('edit')?.value">
                                                <span class="p-2">{{i+1}}</span>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"
                                                        formControlName="selected" [id]="prod.get('formId')?.value">
                                                    <label class="form-check-label" [for]="prod.get('formId')?.value">
                                                        <span
                                                            *ngFor="let option of options; let isFirst=first; let i=index">
                                                            <ng-container *ngIf="option.get('header')?.value">
                                                                {{ !isFirst ? '/' : ''}}
                                                                {{prod.get('variantOptions')?.value[i].get('inputRef.name')?.value}}
                                                            </ng-container>

                                                        </span>
                                                    </label>
                                                </div>

                                            </div>

                                        </td>
                                        <ng-container
                                            *ngFor="let varOpt of $any(prod).get('variantOptions')?.value; let varOptIndex=index">
                                            <td class="table-cell" *ngIf="varOpt.get('header')?.value">
                                                <div class="table-cell-heading">
                                                </div>
                                                <div class="table-cell-content">
                                                    <typeahead-options [class]="'form-control input-number'"
                                                        [optionFormGroup]="varOpt" [optionFormControlName]="'detail'"
                                                        [formatter]="formatter" [editable]='false' [source]="{
                                                            url: 'options/headers/'+ varOpt.get('header')?.value?.id + '/details'
                                                        }"
                                                        [placeholder]="'Search in '+ varOpt.get('header')?.value?.title">
                                                    </typeahead-options>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <td class="table-cell">
                                            <div class="table-cell-heading">
                                                Seller SKU
                                            </div>
                                            <div class="table-cell-content">
                                                <input class="form-control prod-var-input" formControlName="sellerSku">
                                            </div>
                                        </td>
                                        <td class="table-cell">
                                            <div class="table-cell-heading">
                                                Your price
                                            </div>
                                            <div class="table-cell-content">
                                                <input type="text" class="form-control  input-number"
                                                    formControlName="price" [prefix]="buyCurrency?.currency_code + ' ' "
                                                    [mask]="maskConfig.maxnumber_count">
                                            </div>
                                        </td>
                                        <td class="table-cell">
                                            <div class="table-cell-heading">
                                                Selling price
                                            </div>
                                            <div class="table-cell-content">

                                                <input type="text" class="form-control  input-number"
                                                    formControlName="sellingPrice"
                                                    [prefix]="buyCurrency?.currency_code + ' ' "
                                                    [mask]="maskConfig.maxnumber_count">
                                            </div>
                                        </td>
                                        <td [ngClass]="{'table-cell':true,'':prod.get('status')?.value == 4}">
                                            <div class="table-cell-heading">
                                                Qty
                                            </div>
                                            <div class="table-cell-content">
                                                <input type="text" class="form-control input-number"
                                                    formControlName="quantity" [mask]="maskConfig.maxnumber_count">
                                            </div>
                                        </td>
                                        <td class="table-cell">
                                            <div class="table-cell-heading">
                                                Condition
                                            </div>
                                            <div class="table-cell-content">
                                                <select class="form-select" [compareWith]="compare"
                                                    formControlName="condition">
                                                    <option value='' disabled>Select-</option>
                                                    <option *ngFor="let con of conditionOptions" [ngValue]="con">
                                                        {{con.title}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="table-cell">
                                            <div class="table-cell-heading">
                                                Date range
                                            </div>
                                            <div class="table-cell-content">
                                                <input type="text" datePicker formControlName="dateRange"
                                                    class="form-control date-picker">
                                            </div>
                                        </td>
                                        <td class="table-cell sticky-cell-end">
                                            <div class="table-cell-content gap-2">
                                                <button type="button" class="btn " (click)="removeVariant(prod,i)"
                                                    *ngIf="prod.get('status')?.value!==4">
                                                    <i class="bi bi-trash-fill"></i>
                                                </button>
                                                <button type="button" class="btn " (click)="restoreVariant(prod)"
                                                    *ngIf="prod.get('status')?.value==4">
                                                    <i class="bi bi-arrow-clockwise"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>

                    </table>
                </div>

            </div>
        </div>
    </div>

</ng-template>
<ng-template #variantInfo let-formGroup="formGroup">
    <div class="card mb-2" [formGroup]="formGroup">
        <div class="card-body">
            <small class="text-primary">{{formGroup.get('brand')?.value}}</small>
            <div class="card-title">{{formGroup.get('title')?.value}}</div>
            <hr>
            <ol class="nav-variants" *ngIf="variants">
                <li *ngFor="let brothers of variantsMap|keyvalue">
                    <input type="radio" [id]="'brothers-'+brothers.key" name="selectVariants"
                        (change)="routeChange($event)"
                        [value]="'/seller-central/add-a-product/'+paramProductId+'/'+brothers.key"
                        [checked]=" paramVariantId == brothers.key " />
                    <label class="wrapper text-capitalize" [for]="'brothers-'+brothers.key">
                        {{brothers.value.title}}
                    </label>
                </li>
            </ol>
        </div>
    </div>
</ng-template>