<main class="container-fluid pb-2">

    <ng-container *ngTemplateOutlet="heading; context:{ submitBtn: true }">
    </ng-container>
    <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle" (select)="onSelect($event)" (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
    </ngx-charts-bar-vertical-2d>
</main>
<ng-template #heading>

    <head class="forehead d-flex justify-content-between align-items-center flex-wrap gap-3">
        <div class=" flex-grow-1">
            <h3 class="text-capitalize">{{greetingTitle}}</h3>
            <p class="text-muted small pe-2 mb-0">
            </p>
        </div>

    </head>
</ng-template>