<!--<main>
  <section>
 <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
        <div class="form-floating">
          <input type="email" id="floatingInput" placeholder="name@example.com" formControlName="email"
            [ngClass]="{'form-control is-invalid': !loginFormGroup.get('email')?.valid && loginFormGroup.get('email')?.touched,'form-control':true}">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" id="floatingPassword" placeholder="Password" formControlName="password"
            [ngClass]="{'form-control is-invalid': !loginFormGroup.get('password')?.valid && loginFormGroup.get('password')?.touched,'form-control':true}">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Sign in" [disabled]="!loginFormGroup.valid">
        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
      </form>
  </section>
</main> -->
<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Login</div>
      <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
    </div>
    <div class="right">
      <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
        <label for="email" class="text-muted small">Email</label>
        <input type="email" id="email" class="form-control mb-2" placeholder="name@example.com" formControlName="email">
        <label for="password" class="text-muted small">Password</label>
        <input type="password" id="password" class="form-control mb-2" placeholder="Password" formControlName="password">
        <input class=" btn btn-primary mb-2" type="submit" value="Sign in" [disabled]="!loginFormGroup.valid">
        <a [routerLink]="'/brand-register'">sign up</a>
      </form>
    </div>
  </div>
</div>