<main class="container pb-2">

    <ng-container *ngTemplateOutlet="heading; context:{ submitBtn: true }">
    </ng-container>

    <div class="card" style="height: 100%;">
        <div class="card-header">
            <div class="card-title">Manage Inventory</div>
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap mb-3 gap-2 controls-bar">
                <div [formGroup]="productCriFormGroup" class="flex-grow-1">
                    <div class="input-group border rounded" id="searchbox">
                        <input class="form-control border-0 rounded-end" type="text" placeholder="Search SKU, Name"
                            formControlName="name">
                        <i
                            class="bi bi-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center small">
                    <div class="form-check px-2 border-end m-0">
                        <input class="form-check-input" type="checkbox" value="" id="ctrl-easy-update"
                            [(ngModel)]="easyUpdate">
                        <label class="form-check-label" for="ctrl-easy-update">
                            Easy update
                        </label>
                    </div>
                    <div class="px-2">
                        <a [routerLink]="'/seller-central/add-a-product'" class="btn btn-plus" type="button"
                            id="btn-add-product"></a>
                    </div>
                </div>


            </div>

            <div class="table-responsive" [formGroup]="productFormGroup" id="productForm">
                <table class="table">
                    <thead class="table-header-container">
                        <tr class="rps-table-row rps-table-row-head">
                            <th scope="col">No</th>
                            <th scope="col">Status</th>
                            <th scope="col" style="min-width: 300px;" colspan="2">Product</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Price</th>
                            <th scope="col">SellingPrice</th>
                            <th scope="col">AvaliableQty</th>
                            <th scope="col">Condition</th>
                            <th scope="col" style="min-width: 200px;">DateRange</th>

                            <th scope="col" class="sticky-end">Operation</th>
                        </tr>
                    </thead>
                    <ng-container formArrayName="products">
                        <ng-template ngFor let-prod let-i="index" [ngForOf]="productVariationControls">
                            <tbody [formGroupName]="i">
                                <ng-container *ngTemplateOutlet="variantTemplate; context:{ 
                                        vari: prod, 
                                        index: i , 
                                        isStandAlone: prod.get('product')?.value?.variant_option1_hdr == null ,
                                        isParent: true, 
                                        trigger: variantCollapse, 
                                        offset:inventoryProductPagination.offset
                                    }">
                                </ng-container>
                            </tbody>
                            <ng-container [formGroupName]="i">
                                <ng-container formArrayName="variants">
                                    <tbody #variantCollapse="ngbCollapse"
                                        [(ngbCollapse)]="$any(prod.get('collapse')).value">
                                        <ng-template ngFor let-vari let-varIndex="index"
                                            [ngForOf]="$any(prod).get('variants').controls">
                                            <ng-container *ngTemplateOutlet="variantTemplate; context:{ 
                                                    vari: vari, 
                                                    index: i , 
                                                    childIndex: varIndex, 
                                                    isStandAlone: false ,
                                                    isParent: false}">
                                            </ng-container>
                                        </ng-template>
                                    </tbody>
                                </ng-container>
                            </ng-container>
                        </ng-template>

                    </ng-container>
                    <ng-container *ngIf="productVariationControls.length == 0">
                        <tbody>
                            <tr class="rps-table-row">
                                <th class="rps-table-cell" colspan="13">
                                    <div class="rps-table-cell-content">
                                        <span class="fw-normal text-muted">
                                            No products found,
                                            <a routerLink="/seller-central/add-a-product">
                                                Create new one?.
                                            </a>
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </ng-container>

                </table>
            </div>
            <div class="d-flex justify-content-end py-3">
                <app-pagination #inventoryProductPagination [source]="pagination" (pageChange)="pageChange($event)">
                </app-pagination>
            </div>

        </div>
    </div>
    <!-- Modal group -->
    <!-- <div class="modal fade" id="productGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content product-group" id="productGroupModalContent">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="productGroupFormGroup">
                        <div class="px-2">
                            <label class="form-label">Group title</label>
                            <div class="input-group border rounded">
                                <input type="text" class="form-control border-0" formControlName="name">
                                <button type="button"
                                    *ngIf="!pgStatus && productGroupFormGroup.get('pgList')?.value.length>0"
                                    class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                                    aria-expanded="false">
    
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li *ngFor="let pg of productGroupFormGroup.get('pgList')?.value"
                                        (click)="selectProdGroup(pg)">
                                        <a class="dropdown-item">
                                            {{pg.name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="mb-3"></div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="switch-new"
                                    formControlName='isNew'>
                                <label class="form-check-label" for="switch-new">create as new product group</label>
                            </div>
                        </div>
    
                        <ul formArrayName="products" class="list-group list-group-flush">
                            <li class="list-group-item pg-item gap-2" *ngFor="let prod of pgItems; let i = index">
                                <div class="pg-image-box">
                                    <div class="mx-auto pg-image-container">
                                        <img class="pg-image rounded"
                                            [src]="prod.get('image')?.value ? prod.get('image')?.value.link : 'assets/img/def-stock.jpg'">
                                    </div>
                                </div>
                                <div class="flex-grow-1 pg-name-box ">
                                    <a>{{prod.get('name')?.value}}</a>
                                </div>
                                <div class="pg-close-box">
                                    <button type="button" class="btn-close" aria-label="Close"
                                        (click)="removeItemFromProdGroup(i)"></button>
    
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="submitProdGroup()">Save</button>
                </div>
            </div>
        </div>
    </div> -->


</main>

<ng-template #heading>
    <div class="forehead d-flex justify-content-between align-items-center flex-wrap gap-3">
        <div class=" flex-grow-1">
            <h5 class="">Inventory</h5>
            <p class="text-muted small pe-2 mb-0">
                A place that you can manage all your products.
            </p>
        </div>
        <div class="d-flex gap-2 align-items-center" *ngIf="saveBtnOn">
            <p class="m-0">You have unsaved <strong>{{ chnagedVariNumber }}</strong> changes. </p>
            <button type="button" class="btn text-primary" aria-label="Save" (click)="submit()">Save</button>
        </div>
    </div>
</ng-template>
<ng-template #variantTemplate let-vari="vari" let-index="index" let-childIndex="childIndex" let-trigger="trigger"
    let-isStandAlone="isStandAlone" let-isParent="isParent" let-offset="offset">
    <tr class="rps-table-row" [formGroup]="vari" [attr.data-id]="vari.get('id')?.value">
        <th class="rps-table-cell">
            <span *ngIf="isParent">{{offset+index}}</span>
        </th>
        <td class="rps-table-cell">
            <div class="rps-table-cell-content  ">
                <span class="badge rounded-pill d-block" prodStatus [value]="vari.get('health')?.value.message"></span>
            </div>
        </td>
        <td class="rps-table-cell">
            <div class="rps-table-cell-heading">
                Image
            </div>
            <div class="rps-table-cell-content ">
                <div class="mx-auto product-image-container">
                    <img class="product-image rounded" [src]="vari.get('media_1_image')?.value?.path">

                </div>

            </div>
        </td>
        <td class="rps-table-cell">
            <div class="rps-table-cell-heading">
                Name
            </div>
            <div class="rps-table-cell-content">

                <div *ngIf="!isStandAlone && isParent; then toggleArrow else plainText"></div>

                <ng-template #toggleArrow>
                    <ul class="list-unstyled m-0 p-0 d-flex w-100">
                        <li class="text-wrap flex-grow-1">
                            <a [routerLink]="['../add-a-product/'+vari.get('product')?.value?.id]">
                                {{vari.get('product')?.value?.title}}</a>
                        </li>
                        <li>
                            <button class="btn btn-toggle" menu-arrow="true"
                                [attr.aria-expanded]="!vari.get('collapse')?.value"
                                (click)="trigger.toggle();getVariants(vari)">
                            </button>
                        </li>
                    </ul>
                    <a [routerLink]="['../add-a-product/' + vari.get('product')?.value?.id + '/' + vari.get('id')?.value]"
                        class="d-block small" type="link">{{vari.get('title')?.value}}</a>
                </ng-template>
                <ng-template #plainText>
                    <a [routerLink]="['../add-a-product/'+vari.get('product')?.value?.id]">
                        {{vari.get('product')?.value?.title}}</a>
                    <a [routerLink]="['../add-a-product/' + vari.get('product')?.value?.id + '/' + vari.get('id')?.value]"
                        class="d-block small" type="link">{{vari.get('title')?.value}}</a>
                </ng-template>
            </div>

        </td>

        <td class="rps-table-cell">
            <div class="rps-table-cell-heading">
                SKU
            </div>
            <div class="rps-table-cell-content ">
                {{vari.get('seller_sku')?.value}}
            </div>
        </td>

        <td class="rps-table-cell">
            <div class="rps-table-cell-heading">
                Price
            </div>

            <div class="rps-table-cell-content" [ngSwitch]="easyUpdate">
                <div class="form-group position-relative" *ngSwitchCase="true">
                    <input type="text" class="form-control" formControlName="buy_price"
                        [suffix]=" ' ' + vari.get('product')?.value?.currency.currency_code"
                        [mask]="maskConfig.maxnumber_count">
                    <p *ngIf="vari.get('buy_price')?.dirty"
                        class="def-val position-absolute top-0 start-0 badge rounded-pill ">
                        <i class="bi bi-x text-danger"></i>
                        {{ defaultVariants.get( vari.get('id')?.value)?.buy_price }}
                    </p>
                </div>
                <p class="text-nowrap text-end" *ngSwitchCase="false">
                    {{vari.get('buy_price')?.value + ' ' + vari.get('product')?.value?.currency.currency_code}}
                </p>

            </div>

        </td>
        <td class="rps-table-cell">
            <div class="rps-table-cell-heading">
                Selling price
            </div>

            <div class="rps-table-cell-content" [ngSwitch]="easyUpdate">
                <div class="form-group position-relative" *ngSwitchCase="true">
                    <input type="text" class="form-control" formControlName="selling_price"
                        [suffix]=" ' ' + vari.get('product')?.value?.currency.currency_code"
                        [mask]="maskConfig.maxnumber_count">
                    <p *ngIf="vari.get('selling_price')?.dirty"
                        class="def-val position-absolute top-0 start-0 badge rounded-pill">
                        <i class="bi bi-x text-danger"></i>
                        {{ defaultVariants.get( vari.get('id')?.value)?.selling_price }}
                    </p>
                </div>
                <p class="text-nowrap text-end" *ngSwitchCase="false">
                    {{vari.get('selling_price')?.value + ' ' + vari.get('product')?.value?.currency.currency_code}}
                </p>
            </div>

        </td>
        <td class="rps-table-cell">
            <div class="rps-table-cell-heading">
                Qty
            </div>

            <div class="rps-table-cell-content text-end" [ngSwitch]="easyUpdate">
                <div class="form-group position-relative" *ngSwitchCase="true">
                    <input type="text" class="form-control text-end" formControlName="qty"
                        [mask]="maskConfig.maxnumber_count">
                    <p *ngIf="vari.get('qty')?.dirty"
                        class="def-val position-absolute top-0 start-0 badge rounded-pill">
                        <i class="bi bi-x text-danger"></i>
                        {{ defaultVariants.get( vari.get('id')?.value)?.qty }}
                    </p>
                </div>
                <p class="text-nowrap text-end" *ngSwitchCase="false">
                    {{vari.get('qty')?.value}}
                </p>
            </div>
        </td>
        <td class="rps-table-cell">
            <div class="rps-table-cell-heading">
                Condition
            </div>
            <div class="rps-table-cell-content" [ngSwitch]="easyUpdate">
                <div class="form-group position-relative" *ngSwitchCase="true">
                    <select id="plain-select" class="form-select" formControlName="condition"
                        [compareWith]="compareCondition">
                        <option [ngValue]="con" *ngFor="let con of conditions">
                            {{con.title}}</option>
                    </select>

                </div>
                <p *ngSwitchCase="false">
                    {{vari.get('condition')?.value.title}}
                </p>
            </div>
        </td>
        <td class="rps-table-cell">
            <div class="rps-table-cell-heading">
                Date range
            </div>
            <div class="rps-table-cell-content">
                From {{vari.get('start_at')?.value | date :
                'mediumDate'}}<br>
                To {{vari.get('expired_at')?.value | date :
                'mediumDate'}}
            </div>
        </td>

        <td class="rps-table-cell sticky-end">
            <div class="rps-table-cell-heading">

            </div>
            <div class="rps-table-cell-content">
                <ng-container
                    *ngTemplateOutlet="menu; context:{ variant:vari , isStandAlone:isStandAlone, isParent:isParent }">
                </ng-container>
            </div>
        </td>
    </tr>
</ng-template>
<ng-template #menu let-variant="variant" let-isStandAlone="isStandAlone" let-isParent="isParent">
    <div ngbDropdown container="body" class="d-inline-block">
        <button type="button" class="btn" id="menu" ngbDropdownToggle>
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="menu">
            <button ngbDropdownItem *ngIf="isParent" (click)="removeProduct(variant.get('product')?.value.id)">
                Remove
            </button>
            <!-- <button ngbDropdownItem *ngIf="!isStandAlone" (click)="removeVariant(variant.get('id')?.value)">
                Remove {{ (!isStandAlone && !isParent) ? '' : 'variant'}}
            </button> -->
            <button ngbDropdownItem>
                Make inactive
            </button>

        </div>
    </div>
</ng-template>