@import "../../../custom-scss/bootstrap-variable.scss";
$rps-table-heading-color: #edf2f9;

.table-responsive {
  min-height: 100%;
}
.table-responsive table {
  margin: 0;
  padding: 0;
  width: 100%;
  a {
    text-decoration: none;
    color: unset;
  }
  a:hover {
    text-decoration: underline;
    color: $primary;
  }

  .table-header-container {
    background-color: $rps-table-heading-color;
    color: #4d627a;
  }

  .rps-table-row.rps-table-row-head {
    th {
      padding: 1rem 0.5rem ;
      white-space: nowrap;
      vertical-align: middle;
    }
    th.sticky-end {
      right: 0px;
      position: sticky;
      z-index: 2;
      box-shadow: -0.1rem -0.1rem 0 0 rgba(225, 227, 229, 1);
      filter: drop-shadow(-0.1rem 0 0 rgba(225, 227, 229, 1));
      //padding-right: 0px;
      margin-right: 0px;
      background-color: $rps-table-heading-color;
    }
  }

  .rps-table-row {
    width: 100%;
  }
  .rps-table-row .rps-table-cell {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 1em 0.5em 1em 0.5em;
    list-style: none;
    border-top: 0.2px solid #ecf2f9 !important;
    white-space: nowrap;
    background-color: white;

    &.sticky-end {
      right: 0px;
      position: sticky;
      z-index: 2;
      box-shadow: -0.1rem -0.1rem 0 0 rgba(225, 227, 229, 1);
      filter: drop-shadow(-0.1rem 0 0 rgba(225, 227, 229, 1));
      padding-right: 0px;
      margin-right: 0px;
    }

    .rps-table-cell-heading {
      display: none;
    }

    .rps-table-cell-content {
      //overflow: hidden;
      &.word-break {
        width: 15rem;
        // .btn-toggle {
        //   flex-flow: row wrap;
        //   word-break: break-word;
        // }
      }
      .product-image-container {
        width: 4rem !important;
        height: 4rem !important;
        text-align: center;
        align-self: center !important;
        .product-image {
          object-fit: scale-down;
          align-self: center !important;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .def-val {
        font-size: 12px;
        transform: translate(-15%, -100%) !important;
        color: unset;
        font-weight: 400 !important;
      }
      .form-control.ng-dirty,
      .form-select.ng-dirty {
        border-color: orange;
      }
      .form-control,
      .form-select {
        min-width: 200px;
        text-align: end;
      }
    }
  }
}

#controls-bar {
  #searchbox {
    max-width: 20rem;
  }
}