<div class="background h-100" style="background-image: url('assets/img/world.svg');">
    <div class="container">
        <div class="position-relative my-5 mx-3">
            <ngb-progressbar style="height: 2px;" type="success" [value]="tabPercentager"></ngb-progressbar>
            <button type="button"
                class="position-absolute top-0 start-0 translate-middle btn btn-sm {{activeTabId == 1 ? 'btn-primary' : 'btn-secondary'}} rounded-pill"
                style="width: 2rem; height:2rem;" (click)="nav.select(1)">1</button>
            <button type="button"
                class="position-absolute top-0 start-50 translate-middle btn btn-sm {{activeTabId == 2 ? 'btn-primary' : 'btn-secondary'}} rounded-pill"
                style="width: 2rem; height:2rem;" (click)="nav.select(2)">2</button>
            <button type="button"
                class="position-absolute top-0 start-100 translate-middle btn btn-sm {{activeTabId == 3 ? 'btn-primary' : 'btn-secondary'}} rounded-pill"
                style="width: 2rem; height:2rem;" (click)="nav.select(3)">3</button>
        </div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId">
            <li [ngbNavItem]="1">
                <ng-template ngbNavContent>
                    <form [formGroup]="brandFormGroup">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-body-title">Brand Information</div>
                                <div class="mb-4">
                                    <label for="brand-name" class="form-label">What is your brand name?</label>
                                    <input type="text" id="brand-name" formControlName="brand-name"
                                        [ngClass]="{'form-control is-invalid': !brandFormGroup.get('brand-name')?.valid && brandFormGroup.get('brand-name')?.touched,'form-control':true}">
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <ng-template ngbNavContent>
                    <form [formGroup]="accountFormGroup">
                        <div class="card">
                            <div class="card-body">
                                <div id="account-info" class="mb-4">
                                    <div class="card-body-title">Account Information</div>
                                    <div class="mb-3">
                                        <label for="user-name" class="form-label">What is your name?</label>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="First name"
                                                    aria-label="First name" formControlName="user-firstname"
                                                    [ngClass]="{'form-control is-invalid': !accountFormGroup.get('user-firstname')?.valid && accountFormGroup.get('user-firstname')?.touched,'form-control':true}">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Last name"
                                                    aria-label="Last name" formControlName="user-lastname"
                                                    [ngClass]="{'form-control is-invalid': !accountFormGroup.get('user-lastname')?.valid && accountFormGroup.get('user-lastname')?.touched,'form-control':true}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="user-email" class="form-label">What is your email?</label>
                                        <input type="email" class="form-control" id="user-email"
                                            formControlName="user-email" placeholder="name@example.com">
                                    </div>
                                    <div class="mb-3">
                                        <label for="user-phone" class="form-label">What is your phone
                                            number?</label>
                                        <input type="tel" id="user-phone" placeholder="09 xxxxxxxxx"
                                            formControlName="user-phno"
                                            [ngClass]="{'form-control is-invalid': !accountFormGroup.get('user-phno')?.valid && accountFormGroup.get('user-phno')?.touched,'form-control':true}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" id="user-phone" formControlName="password"
                                            [ngClass]="{'form-control is-invalid': !accountFormGroup.get('password')?.valid && accountFormGroup.get('password')?.touched,'form-control':true}">
                                    </div>
                                </div>
                                <div class="mb-2" id="address-info">
                                    <div class="card-body-title">Address Information</div>
                                    <div class="mb-3">
                                        <label for="address" class="form-label">What is your store located?</label>
                                        <textarea id="address" formControlName="user-address"
                                            [ngClass]="{'form-control is-invalid': !accountFormGroup.get('user-address')?.valid && accountFormGroup.get('user-address')?.touched,'form-control':true}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-main" id="btn-submit-stepper" (click)="submit()">Submit</button>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <ng-template ngbNavContent>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
