<div class="container pb-3">
    <ng-container *ngTemplateOutlet="heading;">
    </ng-container>
    <div class="row">
        <div class="col-lg-3 card-left-label">
            <h5>Brand details</h5>
            <p class="d-flex">
                <i class="bi bi-pencil-square"></i>
                <small class="ms-2">Edit your brand informations</small>
            </p>
        </div>
        <div class="col-lg-9 col-sm-12">
            <div class="card mb-2" id="brand-info-card">

                <div class="card-body ">
                    <div class="brand-profile">
                        <div class="brand-cover">
                            <media-chooser class="wrapper" [src]="brandForm.get('coverImage')?.value"
                                [editable]="brandForm.get('formStateEdit')?.value"
                                [config]="mediaChooserConfigBrandCover" (output)="brandLogoChange($event,'coverImage')">
                            </media-chooser>
                        </div>
                        <div class="brand-info">
                            <div class="brand-logo">
                                <media-chooser id="brand-logo-wrapper" [src]="brandForm.get('profileImage')?.value"
                                    [editable]="brandForm.get('formStateEdit')?.value"
                                    [config]="mediaChooserConfigBrandLogo"
                                    (output)="brandLogoChange($event,'profileImage')"></media-chooser>
                            </div>
                            <div class="brand-logo-spacer">
                                <p></p>
                            </div>
                            <div class="brand-details-info">
                                <ul ngbNav #brandDetailInfo="ngbNav">
                                    <li [ngbNavItem]="1">
                                        <ng-template ngbNavContent>
                                            <div class="d-flex">
                                                <div class="flex-grow-1" id="showcase">
                                                    <div class="position-relative">
                                                        <div class="d-flex">
                                                            <div class="position-relative ">
                                                                <h5 class="mb-2">{{ brandForm.get('title')?.value}}</h5>
                                                                <span class="position-absolute badge rounded-pill">
                                                                    <i class="bi bi-check2"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="text-muted small">{{brandForm.get('createdAt')?.value |
                                                        date
                                                        :'d/M/yy, h:mm a'}}</p>
                                                    <p class="text-muted small">{{brandForm.get('publicId')?.value}}
                                                    </p>
                                                </div>
                                                <div>
                                                    <button class="btn text-primary"
                                                        (click)="brandForm.get('formStateEdit')?.setValue(true);brandDetailInfoTabs.select(2)">Edit</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="2">
                                        <ng-template ngbNavContent>
                                            <form [formGroup]="brandForm" (ngSubmit)="submitBrand()">
                                                <div>
                                                    <p class="small text-muted">Seller ID:
                                                        <strong
                                                            class="text-primary">{{brandForm.get('publicId')?.value}}</strong>
                                                        and
                                                        registered at
                                                        <strong class="text-primary">{{brandForm.get('createdAt')?.value
                                                            |
                                                            date :'d/M/yy, h:mm a'}}</strong>
                                                    </p>
                                                </div>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" id="input-brand-title"
                                                        formControlName="title">
                                                </div>
                                                <div class="d-flex justify-content-end gap-2">
                                                    <button class="btn btn-secondary" type="button"
                                                        (click)="cancelBrand()">Cancel</button>
                                                    <input type="submit" value="Submit" class="btn btn-primary">
                                                </div>
                                            </form>
                                        </ng-template>
                                    </li>
                                </ul>
                                <div [ngbNavOutlet]="brandDetailInfo"></div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-3 card-left-label">
            <h5>Account details</h5>
            <p class="d-flex">
                <i class="bi bi-pencil-square"></i>
                <small class="ms-2">Edit your account informations</small>
            </p>

        </div>
        <div class="col-lg-9 col-sm-12">
            <form [formGroup]="accountForm" id="account-info-form" (ngSubmit)="saveAccount()">
                <div class="card user-profile">
                    <div class="card-header">
                        <div class="card-title">Account Detail</div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <label for="user-name"
                                class="col-sm-4 col-form-label text-lg-end text-sm-start ">Avatar</label>
                            <div class="col-sm-8 d-flex">
                                <div class="profile">
                                    <media-chooser id="user-profile-wrapper"
                                        [src]="accountForm.get('profileImage')?.value" [editable]="true"
                                        [config]="mediaChooserConfigUserProfile"
                                        (output)="UserProfileChange($event,'profileImage')"></media-chooser>
                                </div>


                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="user-name" class="col-sm-4 col-form-label text-lg-end text-sm-start">What is
                                your
                                name?</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First name"
                                            aria-label="First name" formControlName="firstName">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last name"
                                            aria-label="Last name" formControlName="lastName">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row mb-3">
                            <label for="user-email" class="col-sm-4 col-form-label text-lg-end text-sm-start">What is
                                your
                                email?</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="user-email" formControlName="email"
                                    placeholder="name@example.com">
                            </div>

                        </div>
                        <div class="row mb-3">
                            <label for="user-phone" class="col-sm-4 col-form-label text-lg-end text-sm-start">What is
                                your phone
                                number?</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="user-phone" placeholder="9** *******"
                                    prefix="+95 " mask="000 0000000" formControlName="phoneNo">
                            </div>

                        </div>
                        <div class="row mb-3">
                            <label for="address" class="col-sm-4 col-form-label text-lg-end text-sm-start">What is your
                                store
                                located?</label>
                            <div class="col-sm-8">
                                <textarea id="address" formControlName="address" class="form-control"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer" *ngIf="accountForm.dirty">
                        <div class="d-flex justify-content-end gap-2">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-3 card-left-label">
            <h5>Authencation</h5>
            <a class="d-flex">
                <i class="bi bi-pencil-square"></i>
                <small class="ms-2">Change your password</small>
            </a>
        </div>
        <div class="col-lg-9 col-sm-12">
            <form [formGroup]="authenForm" (ngSubmit)="submitChangePassword()">
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="card-title">Change Password</div>

                    </div>
                    <div class="card-body ">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label text-lg-end text-sm-start">New Password</label>
                            <div class="col-sm-8">
                                <div class="d-flex position-relative">
                                    <input type="password" passwordShowHide class="form-control"
                                        placeholder="New Password" formControlName="newPassword">

                                </div>

                                <password-strength-meter [password]="authenForm.get('newPassword')?.value">
                                </password-strength-meter>
                                <small class="text-muted">Your password must be 8-20 characters long, contain
                                    letters and numbers, and must
                                    not contain spaces, special characters, or emoji.</small>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label text-lg-end text-sm-start">Confirm Password</label>
                            <div class="col-sm-8">
                                <div class="d-flex position-relative">
                                    <input type="password" class="form-control" placeholder="Confirm Password"
                                        formControlName="confirmPassword" passwordShowHide>
                                </div>
                                <div *ngIf="authenForm.dirty" class="py-1">
                                    <div [ngSwitch]="matchPassword">
                                        <small class="text-warning" *ngSwitchCase="false">Passwords are not
                                            match!</small>
                                        <small class="text-success" *ngSwitchCase="true">Passwords are match!</small>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer" *ngIf="authenForm.dirty && authenForm.valid">
                        <div class="d-flex justify-content-end gap-2">
                            <input type="submit" value="Submit" class="btn btn-primary" [disabled]="!matchPassword">
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<ng-template #heading>

    <div class="d-flex justify-content-between py-3 align-items-center flex-wrap gap-3 mb-3">
        <div class=" flex-grow-1">
            <h5 class="">Seller Informations</h5>
            <p class="text-muted small pe-2 mb-0">
                A place that you can manage all your brand and account informations.
            </p>
        </div>
    </div>

</ng-template>