@import "../../../custom-scss/bootstrap-variable.scss";

.brand-profile {
  position: relative;
  .brand-cover {
    position: relative;

    ::ng-deep .img__wrap {
      // position: relative;
      // display: block !important;
      // //height: unset !important;
      max-height: 10rem;
      overflow: hidden;
      img {
        max-height: unset !important;
        max-width: unset !important;
        height: 100%;
        object-fit: cover;
        width: 100% !important;
      }
    }
  }
  .brand-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    .brand-logo {
      //transform: translate(10%, -50%);
      position: absolute;
      overflow: hidden;
      border-radius: 50%;
      bottom: 0;
      align-self: flex-start;
      left: 0;
      margin-right: 16px;
      display: block;
      padding: 0.5rem;
      background-color: $white;

      ::ng-deep .img__wrap {
        position: relative !important;
        display: block !important;
        height: 10rem !important;
        border-radius: 50% !important;
        overflow: hidden !important;
        img {
          height: 10rem !important;
          width: 10rem !important;
          object-fit: contain;
        }
      }
    }
    .brand-logo-spacer {
      p {
        width: 10rem;
      }
      //visibility: hidden;
    }
    .brand-details-info {
      width: 100%;
      flex-grow: 1;
      background-color: $white;
      padding: $spacer;
      line-height: 0.5rem;
      .badge {
        //transform: translate(-50%, -50%) !important;
        transform: translate(80%, -20%) !important;

        right: 0;
        top: 0;
        color: $primary;
      }
    }
  }
}
